<!DOCTYPE html>
	<html>
		<head>
			<title>{{ Software of Christoph Mayer hosted at github }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:c.mayer.zfmk@uni-bonn.de">email</a></li>
	        		<li><a href="https://github.com/cmayer">github.com/cmayer</a></li>
	        		<li>Hosted on GitHub Pages</li>
				</ul>
			</footer>
			<script src="javascripts/scale.fix.js"></script>
		</body>
	</html>
